.portfolio{
    &-title{
        text-align: center;
        &-name{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 30px;
        }
        &-desc{
            font-size: 15px;
            margin-bottom: 100px;
        }
    }
    &-control{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .btn-portfolio, .btn-load-more{
        margin: 0px 10px;
        border-color: black;
        &-active, &:hover{
            background-color: $accent;
            color: white;
            border-color: $accent;
        }
    }
    .btn-load-more{
        margin-top: 100px;
        padding: 20px 40px;
    }
    &-load-more-wrapper{
        display: flex;
        justify-content: center;
    }
    &-item{
        opacity: 0;
        transition: 0.5s all ease;
        display: none;
        &-active{
            display: block;
            opacity: 1;
        }
        width: 100%;
        &-row{
            display: flex;
            margin: 20px 0px;
        }
        &-col{
            margin: 0px 10px;
            display: flex;
            align-items: center;
            img{
                width: 90%;
                margin: auto;
                background-size: cover;
                background-position: center;
            }
            &-hidden{
                position: absolute;
                top: 0;
                opacity: 0;
                background-color: rgba($color: #000000, $alpha: 0.7);
                width: 92%;
                height: 100%;
                border-radius: 20px;
                transition: 0.5s all ease;
                color: white;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                &-name{
                    font-weight: 700;
                }
                &-desc{
                    font-size: 12px;
                    margin: 20px 20px;
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 90%;
                    height: 0%;
                    top: 50%;
                    left: 5%;
                    border: 1px solid white;
                    border-top-width: 0px;
                    border-bottom-width: 0px;
                    transition: 0.5s all ease-in-out;
                    z-index: 2;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 90%;
                    top: 5%;
                    left: 50%;
                    border: 1px solid white;
                    border-left-width: 0px;
                    border-right-width: 0px;
                    transition: 0.5s all ease-in-out;
                    transition-delay: 0.1s;
                    z-index: 1;
                }
                &:hover{
                    opacity: 1;
                    &::after{
                        top: 10%;
                        height: 80%;
                    }
                    &::before{
                        left: 10%;
                        width: 80%;
                    }
                }
            }
        }
    }
    .fotorama__stage__shaft{
        display: flex;
    }
}