.team{
    &-title{
        text-align: center;
        &-name{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &-desc{
            margin-bottom: 80px;
        }
    }
    &-owl-carousel{
        &-item{
            display: flex;
            justify-content: space-between;
            &-col{
                .avatar{
                    background-size: cover;
                    width: 200px;
                    height: 200px;
                    background-position: center center;
                    border-radius: 10px;
                    margin: 0px 40px;
                }
                .name,.vacantion{
                    text-align: center;
                }
                .name{
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: 600;
                }
                .vacantion{
                    margin-bottom: 20px;
                }
                .soc-icons{
                    padding: 0px 20px;
                    display: flex;
                    justify-content: space-between;
                    .soc-icon{
                        transition: 0.3s all ease-in-out;
                        width: 45px;
                        height: 45px;
                        border-radius: 10px;
                        background-color: $gray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            font-size: 30px;
                            color: $accent;
                        }
                        &:hover{
                            background-color: $blue;
                            i{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .owl{
        &-stage{
            display: flex;
        }
        &-nav{
            display: none;
        }
        &-dots{
            display: flex;
            justify-content: center;
            margin-top: 60px;
            .active{
                background-color: $blue;
            }
        }
        &-dot{
            width: 15px;
            height: 15px;
            margin: 0px 10px;
            border-radius: 50%;
            background-color: $accent;
            outline: none;
        }
    }
}