// User variables:
$default-text : 'WOpenSans';
$accent : #00897b;
$light-accent : #e4fdf9;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width : 20px;
$gutter : $grid-gutter-width;