@import 'fonts';
@import 'mixins';
@import 'libs';
@import 'vars';
@import 'header';
@import 'home';
@import 'about';
@import 'servicing';
@import 'portfolio';
@import 'pricing';
@import 'footer';

section{
    padding: 100px 0px;
    padding-bottom: 50px;
}

body{
    opacity: 1;
    overflow-x: hidden;
}

a, a:hover{
    color: black;
    text-decoration: none;
}

*{
    font-family: $default-text;
    font-size: 15px;
}

.btn{
    font-family: 'WRoboto';
    font-size: 20px;
    text-transform: uppercase;
    a{
        color: white;
    }
    border: 2px solid white;
    border-radius: 0px;
    transition: 0.3s all ease-in-out;
    padding: 10px 20px;
    outline: none;
    &:hover{
        border-color: $accent;
        background-color: $accent;
        color: white;
        a{
            color: white;
        }
    }
}

@import 'media';